.container {
    margin: 50px 0;
}

.card {
    margin: 2% !important;
    cursor: pointer;
}
.card:hover {
    box-shadow: 10px 30px 50px rgba(0,0,0,.05);
    transform: scale(1.02);
}

.infected {
    border-top: 10px solid rgba(255, 196, 0, 0.719);
}

.recovered {
    border-top: 10px solid rgba(0, 255, 115, 0.479);
}

.deaths {
    border-top: 10px solid rgba(255, 60, 0, 0.644) ;
}
